# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Xcode per-user data
xcuserdata/
**/xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods / Carthage (not used, but ignore if added later)
Pods/
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Xcode local workspace settings
**/xcshareddata/WorkspaceSettings.xcsettings
